.red {
    color: red;
}

input {
    font-size: 36px;
    height: 36px;
    width: 500px;
}

.form-group {
    margin-inside: 2rem;
}

.g-shop-form {
    max-width: 500px;
}

.g-shop-form .inline {
    display: flex;
    width: 500px    ;
    align-items: center;
}

.g-shop-form .inline label {
    min-width: 150px;
}

.error {
    float: left;
    margin-left: 155px;
}

.header-text{
    text-align: center;
    margin-top: 9px;
    font-size: 48px;
    font-weight:bold;
}

.alert-link{
    font-size: 20px;
    margin-left: 10px;
}