#table-container {
    padding: 0 20px 0 20px;
}

#filter-container {
    margin: 10px 0 30px 30px;
}

.header-line {
    margin-bottom: 10px;
    display: flex;
}

.header-line button {
    margin-right: 10px;
}

.m-width {
    max-width: 150px;
    margin-right: 10px;
}

.user-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.left-container {
    margin-left: 20px;
}

.right-container {
    margin-right: 25px;
}