body {
    margin: 35px;
}

#user-actions {
    display: flex;
    margin-bottom: 20px;
}

.action {
    margin-right: 15px;
}

#user-info {
    font-size: 22px;
}

.info-block {
    margin-bottom: 5px;
    display: flex;
}

.info-block strong {
    min-width: 175px;
}